#!/bin/bash

# Setup steps:
# 1) copy this file to env.sh
# 2) edit file env.sh and set the record key varaible to your key
# 3) execute run-docker.sh to start the tests

export CYPRESS_RECORD_KEY=your-record-key-goes-here

